* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

button {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25em;
}

button:enabled:hover,
input:enabled:hover {
  outline: 3px solid lightcyan;
}

select {
  margin-bottom: 3px;
}

textarea {
  width: 100%;
  padding: 0.25em;
  white-space: nowrap;
  font-size: 0.75rem;
  margin: 0;
}

textarea[readonly] {
  color: silver;
}

#DEx {
  display: flex;
  height: 100%;
  width: 100%;
}

#cyto-container {
  position: relative;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  background: radial-gradient(circle at center, midnightblue, midnightblue 15%, black 70%, black);
  color: white;
}

#cyto-container button {
  position: absolute;
  z-index: 10;
  background: transparent;
  color: white;
}

#cyto {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#hub-btn {
  top: 15px;
  left: 15px;
}

#related-count-controls {
  position: absolute;
  z-index: 9;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

#related-count-controls button {
  position: relative;
  width: 1.5em;
}

#back-btn {
  bottom: 15px;
  left: 15px;
}

#label-search {
  position: absolute;
  z-index: 10;
  bottom: 15px;
  right: 15px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.15em;
  width: 10em;
}

#info-pane {
  flex: 1;
  background: linear-gradient(to right, black, midnightblue);
  color: white;
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  overflow-y: auto;
}

#query-box {
  max-width: 100%;
  gap: 1rem;
  padding: 5px;
  display: flex;
}

#query-box label {
  display: block;
}

#query-left, #query-right {
  flex-direction: column;
  display: flex;
  min-width: 0;
}

#query-left {
  min-width: 30%;
}

#endpoint-editor {
  height: 1.5rem;
}

#generate-btn {
  background-color: red;
  color: white;
  margin-top: 1rem;
  align-self: center;
}

#generate-btn:disabled {
  opacity: 0.35;
}

#query-right {
  flex: 1;
}

#query-construct {
  height: 3.5rem;
  resize: none;
}

#query-editor {
  height: 4.5rem;
  resize: vertical;
}

#query-limit {
  height: 1.5rem;
  resize: none;
}

#obj-display {
  flex: 1;
  border: none;
}

@media (max-aspect-ratio: 1/1) {
  #DEx {
    flex-direction: column;
  }

  #query-box {
    background: linear-gradient(to bottom right, black, black 50%, midnightblue);
  }

  #obj-display {
    flex: none;
    min-height: 100vw;
  }
}

@media (max-width: 600px) {
  button,
  input,
  select,
  textarea {
    font-size: 1.5rem;
    padding: 0.25rem;
  }
}
