html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#DEx {
  display: flex;
  height: 100%;
  width: 100%;
}

#cyto {
  aspect-ratio: 1/1;
  max-width: 100%;
  max-height: 100%;
  background: radial-gradient(circle at center, midnightblue, black 75%, black);
}

#info-pane {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

#query-bar {
  padding: 10px;
  background: linear-gradient(to right, black, midnightblue);
}

#obj-display {
  flex: 1;
  border: none;
}

body#welcome {
  display: flex;
  color: white;
  background: linear-gradient(to right, black, midnightblue);
}
