<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="https://unpkg.com/cytoscape@3.26.0/dist/cytoscape.min.js"></script>
    <script src="{{url_for('static', filename='main.js')}}" type="module"></script>
    <title>tagology</title>
  </head>
  <body>
    <div id="DEx">
      <div id="cyto-container">
        <div id="cyto"></div>
        <button id="hub-btn">Return to hub object</button>
        <div id="related-count-controls">
          <button id="decrease-related">-</button>
          <span id="related-count">6</span>
          <button id="increase-related">+</button>
        </div>
        <button id="back-btn">Previous object</button>
        <input id="label-search" type="text" placeholder="Search objects...">
      </div>
      <div id="info-pane"> 
        <div id="query-box" class="DEx-right">
          <div id="query-columns">
            <div id="query-left">
              <label for="endpoint-select">sparql endpoint(s):</label>
              <select id="endpoint-select">
                <option value="wikidata">Wikidata</option>
                <option value="custom">Custom...</option>
              </select>
              <textarea id="endpoint-editor" spellcheck="false"></textarea>
              <button id="generate-btn">Generate new DEx</button>
            </div>
            <div id="query-right">
              <label for="query-select">sparql query:</label>
              <select id="query-select">
                <option value="wiki-space">Wikipedia pages for items in the Unified Astronomy Thesaurus</option>
                <option value="wiki-dogs">All wikipedia pages about famous dogs</option>
                <option value="wiki-cats">All wikipedia pages about famous cats</option>
                <option value="custom">Custom...</option>
              </select>
              <textarea id="query-construct" spellcheck="false" readonly></textarea>
              <textarea id="query-editor" spellcheck="false"></textarea>
              <textarea id="query-limit" spellcheck="false" readonly></textarea>
            </div>
          </div>
        </div>
        <iframe id="obj-display" class="DEx-right"></iframe>
      </div>
    </div>
  </body>
</html>
