<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://unpkg.com/cytoscape@3.26.0/dist/cytoscape.min.js"></script>
        <script src="{{ url_for('static', filename='main.js') }}" type="module"></script>
        <title>tagology</title>
    </head>
    <body>
        <div id="DEx">
            <div id="cyto-pane">
                <div id="cyto"></div>
            </div>
            <div id="obj-pane">
                <div id="query-bar">
                    <select id="endpoint-select">
                        <option value="wiki">Wikipedia</option>
                        <option value="other">Other endpoint</option>
                    </select>
                    <select id="query-select">
                        <option value="default">Default query</option>
                        <option value="alt">Alternative query</option>
                    </select>
                </div>
                <iframe id="obj-frame" src="{{ url_for('static', filename='welcome.html') }}"></iframe>
            </div>
        </div>
    </body>
</html>

