<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://unpkg.com/cytoscape@3.26.0/dist/cytoscape.min.js"></script>
        <script src="{{ url_for('static', filename='main.js') }}" defer></script>
        <title>tagology</title>
    </head>
    <body>
        <div id="DEx">
            <div id="cyto-pane">
                <div id="cyto"></div>
            </div>
            <div id="obj-pane">
                <iframe id="obj-frame"></iframe>
            </div>
        </div>
    </body>
</html>

