<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{url_for('static', filename='pages.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='welcome.css')}}">
    <script src="{{url_for('static', filename='welcome.js')}}" type="module"></script>
  </head>
  <body>
    <div id="page">
      <h1>
        Welcome to the Open Data Explorer
      </h1>
      <h3>
        a project of 
        <a href="https://theknowledgecommons.org" target="_blank" rel="noopener noreferrer">The Knowledge Commons</a>
      </h3>
      <p>
        Currently navigating [
        <span id="total-objs">loading...</span>
        ] objects using [
        <span id="total-tags">loading...</span>
        ] unique tags.
      </p>
      <div id="instructions">
        <p>Click nodes to move through the DEx graph and view object URLs.</p>
        <p>Click edges to view tag comparisons.</p>
        <p id="tag-def">tag = [ property : value ]</p>
      </div>
      <div id="footnotes">
        <p>You can find OpenDataDEx demo videos on various topics at</p> 
        <a href="https://www.youtube.com/playlist?list=PLbktZzsSLyEd5S49_Pw7qJQx1uXh-OAUY" target="_blank" rel="noopener noreferrer">The Knowledge Commons Youtube Channel</a>
        <h4>Credits:</h4>
        <p>python libraries used: 
          <a href="https://pypi.org/project/concepts/" target="_blank" rel="noopener noreferrer">concepts</a>
          , <a href="https://pypi.org/project/rdflib/" target="_blank" rel="noopener noreferrer">rdflib</a>
          , pandas, flask</p>
        <p>javascript libraries used: 
          <a href="https://js.cytoscape.org/" target="_blank" rel="noopener noreferrer">cytoscape</a>
        </p>
      </div>
    </div>
  </body>
</html>
